<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings"  type="Utility.Configuration.ApplicationSettingsSection,Utility" />
  </configSections>

  <ApplicationSettings>
    <appSettings>
      <add key="AWSAccessKey" value="Enter your Amazon Web Services Access Key"/>
      <add key="AWSSecretKey" value="Enter your Amazon Web Services Secret Key"/>
    </appSettings>
  </ApplicationSettings>


</configuration>
